button {
  margin-right: 0.5rem;
}

.error {
  color: #b00020;
  margin-top: 0.5rem;
}

.no-events {
  font-style: italic;
  opacity: 0.8;
}

form div {
  margin-bottom: 0.5rem;
}

label {
  display: inline-block;
  min-width: 80px;
}
