<div class="albums-header">
  <h2>Your Albums</h2>

  <div class="albums-header-actions">
    <button type="button" [routerLink]="['/albums/create']">
      + Create New Album
    </button>

    <button type="button" (click)="logout()">
      Logout
    </button>
  </div>
</div>


<p *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</p>

<ng-container *ngIf="albums$ | async as albums; else loading">
  <p *ngIf="albums.length === 0 && !errorMessage">
    You don't have any albums yet.
  </p>

  <ul *ngIf="albums.length > 0">
    <li *ngFor="let album of albums" (click)="goToAlbum(album._id)">
      {{ album.title }}
    </li>
  </ul>
</ng-container>

<ng-template #loading>
  <p>Loading albums...</p>
</ng-template>
